.body {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(35, 33, 46, 1);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

nav {
    background-color: rgba(35, 33, 46, 0.8);
}

.navbar-large {
    transition: all 0.35s cubic-bezier(.68, -0.55, .27, 1.55);
}

.navbar-small {
    transition: all 0.3s cubic-bezier(.68, -0.55, .27, 1.55);
}

.studio-text {
  opacity: 1;
  max-height: 100px;
  transition: opacity 0.5s ease, max-height 0.5s ease;
  overflow: hidden;
}

.navbar-small .studio-text {
  opacity: 0;
  max-height: 0;
}

#logo img {
    transition: all 0.3s cubic-bezier(.68, -0.55, .27, 1.55);
    max-height: 85px;
    margin-top: -10px;
}

.navbar-small #logo img {
    max-height: 50px;
}

#navbar {
    transition: margin-top 0.3s ease-in-out;
}

.navbar-large #navbar {
    margin-top: 20px;
}

.navbar-small #navbar {
    margin-top: 10px;
}

li {
    font-size: 1.20rem;
}

p {
    font-size: 1.2rem;
    /* standaard voor normale schermen */
}

#underbody {
    margin-top: 200px;
}

@media (max-width: 768px) {
    p {
        font-size: 4vw;
        /* voor telefoons: relatief groter */
    }
    .navbar-small #navbar {
        margin-top: 20px;
    }
}

.beer-slider {
  position: relative;
  overflow: hidden;
}

.beer-slider img {
  display: block;
}

.beer-reveal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.beer-reveal img {
  position: absolute;
  top: 0;
  left: 0;
}

#button {
    position: fixed;
    top: 50px;
    right: 50px;
    border: none;
    color: transparent;
}

#button-footer {
    border: 2px solid rgba(35, 33, 46, 1);
    border-radius: 5px;
    color: rgba(35, 33, 46, 1);
}

#nav-tab {
  flex-wrap: nowrap !important;
  overflow-x: auto;
  white-space: nowrap;
}

#nav-tab button {
    color: white;
    border: none;
    font-weight: 500;
    font-size: 0.8rem;
    background-color: transparent;
    margin-left: clamp(5px, 1.5vw, 50px);
    margin-right: clamp(5px, 1.5vw, 50px);
    padding-left: 2vw;
    padding-right: 2vw;
}

#nav-tab .nav-link {
    color: white;
    background-color: transparent;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

#nav-tab .nav-link.active {
    border-style: ridge;
    border-color: rgba(203, 165, 102, 1);
}

#nav-tab .nav-link:hover {
    color: white;
}

#card,
#card-big,
#card-small,
#card-mob {
    border: none;
    overflow-y: auto;
    background-color: transparent;
}

#card-big img {
    height: 80vh;
    width: 100%;
    object-fit: cover;
}

#card img {
    height: 55vh;
    width: 100%;
    object-fit: contain;
}

#menu-tab {
    background-color: rgba(33, 37, 41, 0.9);
    border-radius: 2px;
}

#menu-tab button {
    background-color: transparent;
    color: white;
    border-left: none;
    border-top: none;
    border-right: none;
    border-radius: 0px;
    border-width: 5px;
    flex-grow: 1;
    min-width: min-content;
    max-width: 40%;
    font-size: medium;
    font-weight: bold;
}

#btn-verstuur {
    color: white;
    font-size: large;
}

footer {
    width: 100%;
    color: rgba(35, 33, 46, 1);
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    .footer-container {
        display: flex;
        flex-direction: column;
    }

    #logo {
        width: 100%;
        text-align: center;
    }

    #logo img {
        max-height: 70px;
    }

    #card-big img {
        height: 50vh;
    }
}

.no-radius-bottom {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.yes-radius-bottom {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#card-text-item {
    height: 175px;
}

.card-text li {
    margin-bottom: 2px;
}